/* --- Mobile Fixes --- */
@media (max-width: 768px) {
  :root {
      --le-h1-size: 1.75rem;
      --le-h2-size: 1.5rem;
      --le-h3-size: 1.25rem;
      --le-h4-size: 1.1rem;
      --le-h5-size: 1rem;
      --le-h6-size: 0.95rem;
  }

  .v-main .contents {
      padding: 1.5rem 1.5rem !important;
      max-width: 100% !important;
  }
  
  .v-application, 
  .v-application .v-application--wrap {
      font-size: 17px !important; /* Slightly smaller body text */
  }

  .category-hero-section {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    min-height: 14em;
  }

  .category-hero-row {
    align-items: center !important;
  }

  .category-hero-title-col {
    align-items: center;
  }

  .category-hero-title {
    margin-bottom: 0.5rem !important;
    padding-left: 0;
  }

  .category-hero-subtitle {
    font-size: 1.05rem;
  }

  .category-hero-subtitle--desktop {
    display: none;
  }

  .category-hero-subtitle--mobile {
    display: block;
  }

  .category-hero-image {
    width: 240px;
    max-width: 80%;
    height: 7em;
    margin: 0 0 0 auto;
  }

  .custom-home-page .hero-section {
    margin-bottom: 1.5rem !important;
  }

  .custom-home-page .explore-container {
    padding-bottom: 1.5rem !important;
  }

  .custom-home-page .hero-title {
    margin-bottom: 0px !important;
  }

  .custom-home-page {
    --hero-title-size: 2.5rem;
}

.custom-home-page .hero-section {
    min-height: auto; /* Allow content to dictate height, plus padding */
    padding: 2.4rem 1.1rem 3.2rem 1.1rem !important; /* Reduced height for mobile */
    background-size: cover;
    background-position: 65% center; /* Shift lion into view */
    align-items: flex-start; /* Align text to top */
}

.custom-home-page .hero-content {
    max-width: 100%;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
    align-items: center;
    text-align: center;
}

.custom-home-page .hero-logo {
    width: 45px; /* Slightly bigger */
}

.custom-home-page .hero-title-row {
    justify-content: center;
    margin-top: 2rem;
}

.custom-home-page .hero-title {
    font-size: var(--hero-title-size) !important; /* Bigger for mobile impact */
    line-height: 1.1 !important;
    margin-bottom: 0.5rem;
    margin-left: 0 !important;
    text-align: center;
}

.custom-home-page .hero-subtitle {
    font-size: 1.2rem !important;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto !important;
    align-self: center;
}

.custom-home-page .hero-content .search-inline,
.custom-home-page .hero-content search-inline {
    max-width: 80% !important;
    width: 80% !important;
}

/* Mobile - Stack Split Columns nicely */
.custom-home-page .split-section {
    flex-direction: column;
    gap: 1rem;
    padding-left: 4%;
    padding-right: 4%;
}

.custom-home-page .split-col {
    min-width: 100%;
}



}
