/* --- Search Inline Border Variables --- */
:root {
  --le-search-border: rgba(0, 0, 0, 0.536);
  --le-search-border-focus: rgb(120, 120, 120);
}

.theme--dark {
  --le-search-border: rgba(255,255,255,0.1);
  --le-search-border-focus: rgba(255,255,255,0.12);
}

